.Input {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @nest [data-theme="dark"] & {
  }

  & > span {
  }

  & > input {
    min-width: 200px;
    padding: 10px;
    margin: 5px 0px;
    
    @nest [data-theme="dark"] & {
    }
  }
}
