---
import MainLayout from "../layouts/MainLayout.astro";
import NavLayout from "../layouts/NavLayout.astro";

import Counter from "../components/Counter";
import Carousel from "../components/Carousel";
---

<MainLayout title="Welcome to Astro.">
	<NavLayout page="Home">
		<!-- <Carousel client:visible /> -->
		<div class="text-center m-4">
			<h1>Welcome to <span>Astro</span></h1>
			<Counter client:visible>
				<h1>Hello, Solid!</h1>
			</Counter>
		</div>
	</NavLayout>
</MainLayout>
