---
import MainLayout from "../layouts/MainLayout.astro";
import NavLayout from "../layouts/NavLayout.astro";
---

<MainLayout title="Page 2">
  <NavLayout page="Page 2">
    <div></div>
  </NavLayout>
</MainLayout>
